In [36]:
import numpy as np
import pandas as pd
import seaborn as sns

## 1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].

In [ ]:
L=[10,20,30,40,50,60,70,80]
L

###  i. WAP to add 200 and 300 to L.

In [ ]:
L.append(200)  
L.append(300)  
L

### ii. WAP to remove 10 and 30 from L.

In [ ]:
L.remove(10)  
L.remove(30)  
L

### iii. WAP to sort L in ascending order.

In [ ]:
L.sort()
L

### iv. WAP to sort L in descending order.

In [ ]:
L.sort(reverse=True)
L

## 2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and perform the following operations using tuple functions:

In [ ]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
scores

### i. Identify the highest score and its index in the tuple.

In [ ]:

highest_score = max(scores)
index_of_highest = scores.index(highest_score)
print("Highest score:", highest_score)
print("Index of highest score:", index_of_highest)

### ii. Find the lowest score and count how many times it appears.

In [ ]:

lowest_score = min(scores)
count_of_lowest = scores.count(lowest_score)
print("Lowest score:", lowest_score)
print("Count of lowest score:", count_of_lowest)

### iii. Reverse the tuple and return it as a list.

In [ ]:

reversed_tuple = list(scores[::-1])
print("Reversed tuple as a list:", reversed_tuple)

### iv. Check if a specific score â€˜76â€™ (input by the user) is present in the tuple and print its first occurrence index, or a message saying itâ€™s not present.

In [ ]:
user_input = float(input("Enter a score to check: "))

if user_input in scores:
    index_of_score = scores.index(user_input)
    print(f"The score {user_input} is present at index {index_of_score}.")
else:
    print(f"The score {user_input} is not present in the tuple.")

## 3. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:

In [47]:
import random

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

random_numbers = [random.randint(100, 900) for _ in range(100)]

### i. All odd numbers

In [ ]:

odd_numbers = [num for num in random_numbers if num % 2 != 0]
print("All odd numbers:", odd_numbers)
print("Count of odd numbers:", len(odd_numbers))

### ii. All even numbers

In [ ]:
even_numbers = [num for num in random_numbers if num % 2 == 0]
print("All even numbers:", even_numbers)
print("Count of even numbers:", len(even_numbers))

### iii. All prime numbers

In [ ]:

prime_numbers = [num for num in random_numbers if is_prime(num)]
print("All prime numbers:", prime_numbers)
print("Count of prime numbers:", len(prime_numbers))

## 4. Consider the following two sets, A and B, representing scores of two teams in multiple matches.  
### A = {34, 56, 78, 90}  and B = {78, 45, 90, 23} 
WAP to perform the following operations using set functions:

In [ ]:
A = {34, 56, 78, 90}
A

In [ ]:

B = {78, 45, 90, 23}
B

### i. Find the unique scores achieved by both teams (union of sets).

In [ ]:
A.union(B)

### ii.Identify the scores that are common to both teams (intersection of sets).

In [ ]:
A.intersection(B)

### iii. Find the scores that are exclusive to each team (symmetric difference).

In [ ]:
A.symmetric_difference(B)

### iv. Check if the scores of team A are a subset of team B, and if team B's scores are a subset of team A.

In [ ]:
A.issubset(B)

### v. Check if the scores of team A are a subset of team B, and if team B's scores are 
a superset of team A.

In [ ]:
B.issuperset(A)

### vi.Remove a specific score ð‘‹ (input by the user) from set A if it exists. If not, print a message saying it is not present.

In [ ]:
X = int(input("Enter a score to remove from set A: "))
if X in A:
    A.remove(X)
    print(f"Score {X} removed from set A.")
else:
    print(f"Score {X} is not present in set A.")

## 5. Write a program to rename a key city to a location in the following dictionary.

In [ ]:
sample_dict = {
    "name":"Kelly",
    "age":25,
    "salary":8000,
    "city":"New york"
}
sample_dict

In [ ]:
sample_dict['city']='New York'
sample_dict