# NLP using Python

In [1]:
import string
import re
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer,LancasterStemmer,WordNetLemmatizer
from nltk.tokenize import sent_tokenize
from nltk import pos_tag
nltk.download('wordnet')
from nltk.corpus import wordnet

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\miyas\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\miyas\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\miyas\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!


## Text Preprocessing and Analysis
1. Write a unique paragraph (5-6 sentences) about your favorite topic (e.g., sports, technology, food, books, etc.).  
2. Convert text to lowercase and remove punctuation.  
3. Tokenize the text into words and sentences.  
4. Remove stopwords (using NLTK's stopwords list).  
5. Display word frequency distribution (excluding stopwords).

In [2]:
paragraph='''
Cristiano Ronaldo, often referred to as CR7, is one of the greatest football players of all time. 
Born in Madeira, Portugal, he began his professional career with Sporting CP. 
He gained global recognition during his time at Manchester United, where he won his first Ballon d'Or. 
Ronaldo later moved to Real Madrid, becoming the club's all-time top scorer. 
Known for his incredible work ethic and athleticism, he has won numerous titles, including multiple Champions League trophies. 
Beyond football, Ronaldo is also a philanthropist and a global icon in sports and fashion. 
'''
paragraph

"\nCristiano Ronaldo, often referred to as CR7, is one of the greatest football players of all time. \nBorn in Madeira, Portugal, he began his professional career with Sporting CP. \nHe gained global recognition during his time at Manchester United, where he won his first Ballon d'Or. \nRonaldo later moved to Real Madrid, becoming the club's all-time top scorer. \nKnown for his incredible work ethic and athleticism, he has won numerous titles, including multiple Champions League trophies. \nBeyond football, Ronaldo is also a philanthropist and a global icon in sports and fashion. \n"

# coverting into lowercase andd removeing punctuation

In [3]:
paragraph=paragraph.lower()
paragraph=paragraph.translate(str.maketrans('', '', string.punctuation))
paragraph

'\ncristiano ronaldo often referred to as cr7 is one of the greatest football players of all time \nborn in madeira portugal he began his professional career with sporting cp \nhe gained global recognition during his time at manchester united where he won his first ballon dor \nronaldo later moved to real madrid becoming the clubs alltime top scorer \nknown for his incredible work ethic and athleticism he has won numerous titles including multiple champions league trophies \nbeyond football ronaldo is also a philanthropist and a global icon in sports and fashion \n'

# tokenize into words and sentences

In [4]:
words=word_tokenize(paragraph)
sentences=sent_tokenize(paragraph)
len(words), len(sentences)

(91, 1)

# removing stopwords

In [5]:
stop_words=set(stopwords.words('english'))
filtered_words=[word for word in words if word not in stop_words]
len(filtered_words)

58

# word frequency

In [6]:
import pandas as pd
df=pd.DataFrame(filtered_words, columns=['word'])
df.value_counts().reset_index(name='count').rename(columns={'index':'word'}).sort_values(by='count', ascending=False).head(10)

          word  count
0      ronaldo      3
1       global      2
2     football      2
3         time      2
4  athleticism      1
5     becoming      1
6       ballon      1
7        began      1
8       beyond      1
9    champions      1

# Q2: Stemming and Lemma za on 
1. Take the tokenized words from Ques on 1 (after stopword removal). 
2. Apply stemming using NLTK's PorterStemmer and LancasterStemmer. 
3. Apply lemma za on using NLTK's WordNetLemma zer. 
4. Compare and display results of both techniques.

In [7]:
filtered_words=list(set(filtered_words))

# stemming

In [8]:
stemmer=PorterStemmer()
stemmed_words=[stemmer.stem(word) for word in filtered_words]

In [9]:
lancaster_stemmer=LancasterStemmer()
lancaster_words=[lancaster_stemmer.stem(word) for word in filtered_words]

In [10]:
wordnet_lemmatizer=WordNetLemmatizer()
wordnet_words=[wordnet_lemmatizer.lemmatize(word) for word in filtered_words]

In [11]:
df=pd.DataFrame({'original':filtered_words, 'stemmed':stemmed_words, 'lancaster':lancaster_words, 'lemmatized':wordnet_words})
df

          original         stemmed    lancaster      lemmatized
0           sports           sport        sport           sport
1         referred           refer        refer        referred
2         portugal          portug       portug        portugal
3             also            also         also            also
4         multiple         multipl      multipl        multiple
5           career          career          car          career
6        cristiano       cristiano    cristiano       cristiano
7            first           first        first           first
8       incredible          incred       incred      incredible
9         numerous           numer          num        numerous
10          titles            titl         titl           title
11          global          global         glob          global
12     recognition        recognit     recognit     recognition
13           began           began          beg           began
14            work            work         work            work
15          ballon          ballon       ballon          ballon
16          beyond          beyond       beyond          beyond
17         alltime          alltim       alltim         alltime
18       including          includ       includ       including
19             dor             dor          dor             dor
20        greatest        greatest     greatest        greatest
21             one             one           on             one
22        sporting           sport        sport        sporting
23            real            real         real            real
24       champions        champion        champ        champion
25           known           known        known           known
26            icon            icon         icon            icon
27           clubs            club         club            club
28         ronaldo         ronaldo      ronaldo         ronaldo
29        trophies          trophi        troph          trophy
30          scorer          scorer         scor          scorer
31            time            time          tim            time
32             top             top          top             top
33           ethic           ethic          eth           ethic
34         fashion         fashion         fash         fashion
35          united            unit         unit          united
36            born            born         born            born
37           moved            move          mov           moved
38         players          player         play          player
39          league           leagu        leagu          league
40             cr7             cr7          cr7             cr7
41      manchester        manchest     manchest      manchester
42     athleticism        athletic       athlet     athleticism
43          madrid          madrid       madrid          madrid
44        football         footbal      footbal        football
45          gained            gain         gain          gained
46           often           often          oft           often
47  philanthropist  philanthropist  philanthrop  philanthropist
48              cp              cp           cp              cp
49    professional      profession      profess    professional
50         madeira         madeira       madeir         madeira
51           later           later          lat           later
52        becoming           becom        becom        becoming

# Q3. Regular Expressions and Text Splitting
1. Take the original text from Question 1.  
2. Use regular expressions to:  
     a. Extract all words with more than 5 letters.  
     b. Extract all numbers (if any exist in the text).  
     c. Extract all capitalized words.  
3. Use text splitting techniques to:  
     a. Split the text into words containing only alphabets (removing digits and special characters).  
     b. Extract words starting with a vowel.

In [12]:
paragraph='''
Cristiano Ronaldo, often referred to as CR7, is one of the greatest football players of all time. 
Born in Madeira, Portugal, he began his professional career with Sporting CP. 
He gained global recognition during his time at Manchester United, where he won his first Ballon d'Or. 
Ronaldo later moved to Real Madrid, becoming the club's all-time top scorer. 
Known for his incredible work ethic and athleticism, he has won numerous titles, including multiple Champions League trophies. 
Beyond football, Ronaldo is also a philanthropist and a global icon in sports and fashion. 
Visit https://www.cristianoronaldo.com for more details. 
He has scored over 800 career goals and has a net worth of $500 million.
'''

# extracting all words whose lenth is greater than 5

In [13]:
pattern=r'\b[a-zA-Z]{5,}\b'
filtered_words=re.findall(pattern, paragraph)
filtered_words

['Cristiano',
 'Ronaldo',
 'often',
 'referred',
 'greatest',
 'football',
 'players',
 'Madeira',
 'Portugal',
 'began',
 'professional',
 'career',
 'Sporting',
 'gained',
 'global',
 'recognition',
 'during',
 'Manchester',
 'United',
 'where',
 'first',
 'Ballon',
 'Ronaldo',
 'later',
 'moved',
 'Madrid',
 'becoming',
 'scorer',
 'Known',
 'incredible',
 'ethic',
 'athleticism',
 'numerous',
 'titles',
 'including',
 'multiple',
 'Champions',
 'League',
 'trophies',
 'Beyond',
 'football',
 'Ronaldo',
 'philanthropist',
 'global',
 'sports',
 'fashion',
 'Visit',
 'https',
 'cristianoronaldo',
 'details',
 'scored',
 'career',
 'goals',
 'worth',
 'million']

# extracting all numbers

In [14]:
re_pattern=r'\b\d+\b'
filtered_numbers=re.findall(re_pattern, paragraph)
filtered_numbers

['800', '500']

# extracting Capitalized Words

In [15]:
capitalized_words = re.findall(r'\b[A-Z][a-z]*\b', paragraph)
capitalized_words

['Cristiano',
 'Ronaldo',
 'Born',
 'Madeira',
 'Portugal',
 'Sporting',
 'He',
 'Manchester',
 'United',
 'Ballon',
 'Or',
 'Ronaldo',
 'Real',
 'Madrid',
 'Known',
 'Champions',
 'League',
 'Beyond',
 'Ronaldo',
 'Visit',
 'He']

In [16]:
alphabetic_words = re.findall(r'\b[a-zA-Z]+\b', paragraph)
alphabetic_words

['Cristiano',
 'Ronaldo',
 'often',
 'referred',
 'to',
 'as',
 'is',
 'one',
 'of',
 'the',
 'greatest',
 'football',
 'players',
 'of',
 'all',
 'time',
 'Born',
 'in',
 'Madeira',
 'Portugal',
 'he',
 'began',
 'his',
 'professional',
 'career',
 'with',
 'Sporting',
 'CP',
 'He',
 'gained',
 'global',
 'recognition',
 'during',
 'his',
 'time',
 'at',
 'Manchester',
 'United',
 'where',
 'he',
 'won',
 'his',
 'first',
 'Ballon',
 'd',
 'Or',
 'Ronaldo',
 'later',
 'moved',
 'to',
 'Real',
 'Madrid',
 'becoming',
 'the',
 'club',
 's',
 'all',
 'time',
 'top',
 'scorer',
 'Known',
 'for',
 'his',
 'incredible',
 'work',
 'ethic',
 'and',
 'athleticism',
 'he',
 'has',
 'won',
 'numerous',
 'titles',
 'including',
 'multiple',
 'Champions',
 'League',
 'trophies',
 'Beyond',
 'football',
 'Ronaldo',
 'is',
 'also',
 'a',
 'philanthropist',
 'and',
 'a',
 'global',
 'icon',
 'in',
 'sports',
 'and',
 'fashion',
 'Visit',
 'https',
 'www',
 'cristianoronaldo',
 'com',
 'for',
 'more',
 'details',
 'He',
 'has',
 'scored',
 'over',
 'career',
 'goals',
 'and',
 'has',
 'a',
 'net',
 'worth',
 'of',
 'million']

In [17]:
vowels_start= re.findall(r'\b[aeiouAEIOU]\w*', paragraph)
vowels_start

['often',
 'as',
 'is',
 'one',
 'of',
 'of',
 'all',
 'in',
 'at',
 'United',
 'Or',
 'all',
 'incredible',
 'ethic',
 'and',
 'athleticism',
 'including',
 'is',
 'also',
 'a',
 'and',
 'a',
 'icon',
 'in',
 'and',
 'over',
 'and',
 'a',
 'of']

# Q4. Custom Tokenization & Regex-based Text Cleaning  
1. Take the original text from Question 1.  
2. Write a custom tokenization function that:  
    a. Removes punctuation and special symbols, but keeps contractions (e.g., "isn't" should not be split into "is" and "n't").  
    b. Handles hyphenated words as a single token (e.g., "state-of-the-art" remains a single token).  
    c. Tokenizes numbers separately but keeps decimal numbers intact (e.g., "3.14" should remain as is).  
3. Use Regex Substitutions (`re.sub`) to:  
    a. Replace email addresses with `<EMAIL>` placeholder.  
    b. Replace URLs with `<URL>` placeholder.  
    c. Replace phone numbers (formats: `123-456-7890` or `+91 9876543210`) with `<PHONE>` placeholder.

In [18]:
def custom_tokenizer(text):
    pattern = r"\b\w+(?:-\w+)*\b|\b\d+\.\d+\b|\b\d+\b"
    tokens = re.findall(pattern, text)
    return tokens

In [19]:
custom_tokens = custom_tokenizer(paragraph)
custom_tokens

['Cristiano',
 'Ronaldo',
 'often',
 'referred',
 'to',
 'as',
 'CR7',
 'is',
 'one',
 'of',
 'the',
 'greatest',
 'football',
 'players',
 'of',
 'all',
 'time',
 'Born',
 'in',
 'Madeira',
 'Portugal',
 'he',
 'began',
 'his',
 'professional',
 'career',
 'with',
 'Sporting',
 'CP',
 'He',
 'gained',
 'global',
 'recognition',
 'during',
 'his',
 'time',
 'at',
 'Manchester',
 'United',
 'where',
 'he',
 'won',
 'his',
 'first',
 'Ballon',
 'd',
 'Or',
 'Ronaldo',
 'later',
 'moved',
 'to',
 'Real',
 'Madrid',
 'becoming',
 'the',
 'club',
 's',
 'all-time',
 'top',
 'scorer',
 'Known',
 'for',
 'his',
 'incredible',
 'work',
 'ethic',
 'and',
 'athleticism',
 'he',
 'has',
 'won',
 'numerous',
 'titles',
 'including',
 'multiple',
 'Champions',
 'League',
 'trophies',
 'Beyond',
 'football',
 'Ronaldo',
 'is',
 'also',
 'a',
 'philanthropist',
 'and',
 'a',
 'global',
 'icon',
 'in',
 'sports',
 'and',
 'fashion',
 'Visit',
 'https',
 'www',
 'cristianoronaldo',
 'com',
 'for',
 'more',
 'details',
 'He',
 'has',
 'scored',
 'over',
 '800',
 'career',
 'goals',
 'and',
 'has',
 'a',
 'net',
 'worth',
 'of',
 '500',
 'million']

In [20]:
def clean_text(text):
    text = re.sub(r'[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}', '<EMAIL>', text)
    text = re.sub(r'https?://\S+', '<URL>', text)
    text = re.sub(r'(?:\+?\d{1,3}[-.\s]?)?(?:\(?\d{3}\)?[-.\s]?)?\d{3}[-.\s]?\d{4}', '<PHONE>', text)
    return text

In [21]:
clean_text(paragraph)

"\nCristiano Ronaldo, often referred to as CR7, is one of the greatest football players of all time. \nBorn in Madeira, Portugal, he began his professional career with Sporting CP. \nHe gained global recognition during his time at Manchester United, where he won his first Ballon d'Or. \nRonaldo later moved to Real Madrid, becoming the club's all-time top scorer. \nKnown for his incredible work ethic and athleticism, he has won numerous titles, including multiple Champions League trophies. \nBeyond football, Ronaldo is also a philanthropist and a global icon in sports and fashion. \nVisit <URL> for more details. \nHe has scored over 800 career goals and has a net worth of $500 million.\n"

In [22]:
clean_text('123-345-2342')

'<PHONE>'

In [25]:
clean_text('sadfsf@dsf.cp')

'<EMAIL>'

In [26]:
clean_text('https://www.cristianoronaldo.com')

'<URL>'

In [27]:
clean_text('http://www.cristianoronaldo.com')

'<URL>'

In [29]:
custom_tokenizer("state-of-the-art technology")

['state-of-the-art', 'technology']